.bp-cta-wrapper {
	padding: 50px 0 170px 0;
	@include mq($max-width: $tablet-min) {
		padding: 30px 0;
	}
	h3 {
		font-size: 27px;
		line-height: 32px;
		color: $dark;
		padding-top: 16px;
		@include mq($max-width: $tablet-min) {
			font-size: 24px;
			line-height: 28px;
			padding: 8px 0;
		}
	}
	.btn-wrapper {
		text-align: left;
	}
	.lbl-wrapper {
		text-align: center;
	}
	.btn {
		@include bree;
		border: 2px solid $green;
		text-align: none;
		background: $white;
		box-sizing: border-box;
		color: $green;
		text-transform: uppercase;
		border-radius: 0;
		font-size: 22px;
		padding: 16px 42px;
		transition: all .25s ease-in-out;
		&:hover {
			background: $green;
			border: {
				color: $green;
			}
			color: $white;
		}
		&.btn2 {
			float: left;
			margin: 0 20px;
		}
		@include mq($max-width: $tablet-min) {
			display: block;
			margin: 30px auto;
			width: 80%;
			max-width: 400px;
		}
	}
}
