$icon-green: #80AD41;
$icon-blue: #3D6392;
$icon-dkblue: #232C63;
$icon-grey: #777878;

img.circle-icon-animate {
  transition: all .33s ease-in-out;
  border-radius: 50%;
  border: 1px solid transparent;
  &:hover {
    border-width: 10px;
  }
  &.icon-green {
    &:hover {
      background-color: lighten($icon-green, 35%);
    }
  }
  &.icon-grey {
    &:hover {
      background-color: lighten($icon-grey, 35%);

    }
  }
  &.icon-blue {
    &:hover {
      background-color: lighten($icon-blue, 35%);
    }
  }
  &.icon-dark-blue {
    &:hover {
      background-color: lighten($icon-dkblue, 35%);
    }
  }
}
