$icon-green: #80AD41;
$icon-blue: #3D6392;
$icon-dkblue: #232C63;
$icon-grey: #777878;

img.circle-icon-animate {
  transition: all .25s ease-in-out;
  border-radius: 50%;
  border: 1px solid transparent;
  &:hover {
    border-width: 10px;
  }
  &.icon-green {
    &:hover {
      border-color: $icon-green;
      background-color: darken($icon-green, 10%);
    }
  }
  &.icon-grey {
    &:hover {
      border-color: $icon-grey;
      background-color: darken($icon-grey, 10%);

    }
  }
  &.icon-blue {
    &:hover {
      border-color: $icon-blue;
      background-color: darken($icon-blue, 10%);
    }
  }
  &.icon-dark-blue {
    &:hover {
      border-color: $icon-dkblue;
      background-color: darken($icon-dkblue, 10%);

    }
  }
}
