.figures-grid-with-captions {
	text-align: center;
	padding: 40px 0;
	figure {
		padding-top: 30px;
		img {
			box-sizing: border-box;
			display: inline-block;
			margin: 0 auto 30px auto;
		}
		figcaption {
			padding: 0 30px;
			text-align: center;
			h3 {
				@include bree;
				font-size: 18px;
				color: $dark;
				text-transform: uppercase;
				@include line-after($green, 20px);
			}
			p {
				font-size: 16px;
				line-height: 24px;
				a {
					color: $purple;
					text-decoration: underline;
				}
			}
		}
	}
	h4 {
		@include bree;
		text-align: left;
		font-size: 16px;
		color: $dark;
		text-transform: uppercase;
	}
	.read-more {
		border: {
			top: 2px solid $green;
			bottom: 2px solid $green;
		}
		padding: 15px 42px;
		text-align: left;
		display: none;
	}
}
