.figures-grid-with-captions {
  text-align: center;
  padding: 40px 0;
  figure {
    padding-top: 30px;
    img {
      box-sizing: border-box;
      display: inline-block;
      margin: 0 auto 30px auto;
    }
    figcaption {
      padding: 0 30px;
      text-align: center;
      .content {
        transition: height 0.25s ease-in-out;
      }
      h3 {
        @include bree;
        font-size: 18px;
        color: $dark;
        text-transform: uppercase;
        @include line-after($green, 20px);
      }
      p {
        font-size: 16px;
        line-height: 24px;
        a {
          color: $purple;
          text-decoration: underline;
        }
      }

      button {
        border: 1px solid $light-green;
        background: $white;
        color: $dark-green;
        font-weight: bold;
        padding: 0.25rem 0.75rem;
        border-radius: 2rem;
        display: block;
        margin: 1rem auto;
        outline: 0px solid $medium-green;
        transition: all 0.25s ease-in-out;
        &:hover {
          border: 1px solid $medium-green;
        }
        &:focus {
          border: 1px solid $medium-green;
          outline: 2px solid $medium-green;
        }
        &:active {
          outline: 2px solid $medium-green;
          outline-offset: 0;
        }
      }
    }
  }
  h4 {
    @include bree;
    text-align: left;
    font-size: 16px;
    color: $dark;
    text-transform: uppercase;
    a {
      @include raleway;
      font-size: 14px;
      text-transform: none;
    }
  }
  .read-more {
    display: none;
    border: {
      top: 2px solid $green;
      bottom: 2px solid $green;
    }
    padding: 15px 42px;
    text-align: left;
    display: none;
  }
}
