header.site-header {
	position: fixed;
	width: 100%;
	z-index: 100;
	background: rgba($black, .4);
	transition: background .25s ease-in-out;
	border-bottom: 1px solid $white;
	a[href^="tel:"] {
		color: $white;
	}
	&.active {
		background: rgba($black, .75);
	}
	// header btns
	.header-btn-wrapper,
	.header-btn-mobile {
		@include clearfix;
		float: right;
		ul {
			padding: 0;
			li {
				a.nav-link {
					@include raleway(bold);
					text-transform: uppercase;
					background: $green;
					color: $white;
					font-size: 14px;
					display: block;
					line-height: 42px;
					padding: {
						left: 24px;
						right: 24px;
					}
					// less than 1280
					@include mq($max-width: $desktop-max) {
						padding: 0 10px;
					}

					// between 768 and 1025 (tablet)
					@include mq($min-width: 865px, $max-width: $desktop-min) {
						padding: 0 7px;
						font-size: 13px;
						margin: 0 .25rem;
					}
					@include mq($min-width: $tablet-min, $max-width: 865px) {
						padding: 0 5px;
						font-size: 12px;
						margin: 0;
						border-left: 1px solid $white;
					}

				}
			}
		}
		@include breakpoint(screen($tablet, lessthan)) {
			display: none;
		}
	}
	.header-btn-mobile {
		display: none;
			@include mq($max-width: $tablet-min) {

			&.active {
				display: block;
			}
			ul{
				background: $green;
				@include clearfix;
				width: 100%;
				position: absolute;
				left: 0;
				border-bottom: 1px solid $white;
				margin: 0;
				li {
					width: 33.333%;
					float: left;
					&:first-of-type {
						border-left: none;
					}
					a.nav-link {
						margin: 0;
						width: 100%;
						font-size: 12px;
						text-align: center;
						line-height: 14px;
						padding-top: 15px;
						padding-bottom: 15px;
						border-left: 1px solid $white;

					}
				}
			}
		}
		@include mq($max-width: $phone-max) {
			ul {
				li {
					width: 50%;
					a.nav-link {
						padding: 10px 0;
					}
					&:last-of-type {
						clear: both;
						width: 100%;
						border-left: none;
						border-top: 1px solid $white;
					}
				}
			}
		}
	}
}
