.maintenance-callout {
  color: $white;
  background-image: url("../img/pattern.jpg");
  border: 5px solid $white;
  border-radius: 10px;
  position: absolute;
  top: -31px;
  right: -5px;
  bottom: -31px;
  width: 376px;
  z-index: 20;
  padding: 21px 35px 10px 35px;
  box-shadow: 1px -1px 30px rgba($black, 0.85);
  h2 {
    font-weight: bold;
    font-size: 18px;
  }
  p {
    font-size: 16px;
    line-height: 18px;
  }
  a {
    font-size: 14px;
    color: $green;
  }
  @include mq($max-width: $tablet-min) {
    position: static;
    width: 100%;
    border: 0;
    padding: 15px;
    padding-bottom: 0;
    border-radius: 0;
    box-shadow: none;
  }
}
