.navbar {
	padding: 0;
	#main-menu {
		float: right;
		margin: {
			top: -30px;
			bottom: 15px;
			left: -15px;
		}
		@include mq($max-width: $tablet-min) {
			width: 100%;
			float: none;
			margin: 15px 0;
		}
		li {
			position: relative;
			&:after {
				content: '';
				position: absolute;
				background-color: $green;
				width: 0;
				height: 3px;
				bottom: -15px;
				left: 0;
				right: 0;
				margin-left: 50%;
				transition: all .25s ease-out;
			}
			&.service-links {
				border-top: 1px dotted white;
				margin-top: 5px;
				padding-top: 10px;
			}
			&.hide-above-tablet {
				padding: 0;
			}
			@include breakpoint(screen($tablet, lessthan)) {
				&:after {
					bottom: -5px;
				}
			}
			a {
				@include raleway(bold);
				color: $white;
				font-size: 16px;
				text-transform: uppercase;
				letter-spacing: -.005em;
				text-decoration: none;
			}
			padding: {
				left: 20px;
				right: 20px;
			}
			&:last-of-type {
				padding-right: 0;
			}
			&:hover,
			&.current-menu-item,
			&.current-page-ancestor,
			&.active {
				position: relative;
				a {
					color: $green;
				}
				&:after {
					width: 100%;
					margin-left: 0;
					transition: all .25s ease-out;
				}
			}
			@include mq($max-width: $desktop-max) {
				padding: {
					left: 10px;
					right: 9px;
				}
				a {
					margin: 0;
				}
			}
			@include mq($max-width: $tablet-max) {
				display: inline-block;
				a {
					font-size: 12px;
				}
			}
			@include mq($max-width: $tablet-min) {
				display: block;
				float: none;
				margin: 0 0 15px 0;
				a {
					padding: 0;
					font-size: 16px;
				}
				&.active,
				&:hover,
				&.current-menu-item {
					&:after {
						display: none;
					}
				}
			}
		}
	}
	.navbar-brand {
		margin-top: -32px;
		@include breakpoint(screen($tablet, lessthan)) {
			float: none;
			text-align: left;
			img {
				display: block;
				max-width: 180px;
			}
		}
	}
	.navbar-toggle {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 10000;
		color: $white;
		font-size: 50px;
		transition: all .25s ease-in-out;
		transform: rotate(45deg);
		&.active {
			transform: rotate(0deg);
		}
	}
}


.navwrap {
	margin-top: 30px;
	@include mq($max-width: $tablet-min) {
		width: 100% !important;
		margin-top: 0;
	}
}
