.side-tabbed-content-wrapper {
	// intro
	padding: 30px 0 60px 0;
	.intro {
		padding-bottom: 40px;
		h2,
		p {
			text-align: center;
		}
	}
	// nav
	.side-nav {
		ul {
			margin-bottom: 30px;
			padding: 0 15px;
			list-style-type: none;
			@include mq($max-width: $tablet-min + 1) {
				display: none;
			}
			li {
				padding: 35px 0;
				border-bottom: 1px solid $green;
				&:first-of-type {
					border-top: 1px solid $green;
				}
				padding-left: 45px;
				span {
					display: none;
				}
				&.active {
					background: $white;
					position: relative;
					span {
						display: block;
						position: absolute;
						right: 10px;
						color: $green;
						border: 2px solid $green;
						width: 30px;
						height: 30px;
						top: 50%;
						margin-top: -15px;
						border-radius: 100%;
						padding: 6px 8px;
						@include mq($max-width: $tablet-max) {
							transform: rotate(90deg);
						}
					}
				}
				a {
					@include bree;
					font-size: 18px;
					color: $dark;
					text-decoration: none;
					display: inline-block;
					transition: all .25s ease-in-out;
					&:hover {
						padding-left: 5px;
						color: lighten($dark, 35%);
					}
				}
			}
		}
	}

	.content-wrapper {
		padding: 0 15px;
		transition: height .5s ease-in-out;
		@include mq($max-width: $tablet-min) {
			padding: 0;
			margin-left: -15px;
			margin-right: -15px;
		}
		.content-item {
			display: none;
			border: 1px solid $green;
			background: $white;
			padding: 30px 50px;
			&.active {
				display: block;
			}
			a.btn {
				margin: 15px auto;
				max-width: 80%;
			}
			@include mq($max-width: $tablet-min) {
				padding: 15px;
			}
		}
	}

	.main-tab-content-wrapper .tab-switch {
		display: none;
		position: relative;
		padding: 35px 0;
		color: $dark;
		text-decoration: none;
		border-bottom: 1px solid $green;
		span {
			display: inline-block;
			margin-left: 15px;
			color: $green;
			border: 2px solid $green;
			width: 30px;
			height: 30px;
			top: 50%;
			margin-top: -15px;
			border-radius: 100%;
			padding: 6px 8px;
		}
		&.active {
			border-bottom: none;
			span {
				transform: rotate(90deg);
			}
		}
		@include mq($max-width: $tablet-min) {
				display: block;
		}
	}

	// faqs
	.faq-item {
		h3 {
			@include raleway(600);
			font-size: 18px;
			color: $dark;
			margin-bottom: 15px;
		}
		.answer,
		.answer p {
			@include raleway(300);
			font-size: 16px;
			line-height: 24px;
			color: $dark;
		}
	}
}
