#wrapper-footer {
	background-color: $white;
	position: relative;
}

footer.site-footer {
	color: $white;
	padding: 35px 0;
	font-size: 12px;
	a {
		color: $white;
		&:hover {
		 text-decoration: underline;
		}
	}
	ul {
		margin: 0;
		padding: 0;
		color: $white;
		list-style-type: none;
		li {
			font-size: 18px;
			display: inline-block;
			padding-right: 15px;
			padding-left: 10px;
			position: relative;
			&:after {
				content: "";
				position: absolute;
				height: 16px;
				width: 1px;
				top: 8px;
				right: 0;
				background-color: $green;
			}
			&.social {
				padding-left: 15px;
				padding-right: 0;
				&:after {
					display: none;
				}
			}
			&:first-of-type {
				padding-left: 0;
			}
			a {
				color: $white;
				text-decoration: none;
				&:hover,
				&:active {
					text-decoration: underline;
				}
			}
		}
	}
}
