@import "forth-slider";

.tabbed-carousel-wrapper {
	h2 {
		text-align: center;
	}
	.intro-content {
		text-align: center;
	}
	ul.nav.nav-tabs {
		li {
			@include mq($max-width: 1120px) {
				font-size: 1em !important;
			}
			@include mq($max-width: $tablet-max) {
				font-size: .8em;
			}
		}
	}
	.tab-pane {
		clear: both;
		padding: 50px 0 0 0;
		.owl-carousel.forth-slider {
			display: none;
		}
		&.active {
			.owl-carousel.forth-slider {
				display: block;
				.item {
					cursor: pointer;
				}
			}
		}
	}

	.modal {
		.modal-body {
			text-align: center;
		}
	}

}
