.testimonial-wrapper {
	padding: 80px 0 110px 0;
	.testimonial-inner-wrapper {
		position: relative;
		overflow: hidden;
		@include mq($max-width: $phablet-min) {
			height: 480px;
		}
	}
	blockquote {
		position: relative;
		text-align: center;
		quotes: "“" "”" "“" "”";
		transition: all .25s ease-in-out;
		top: 0;
		opacity: 0;
		height: 0;
		display: none;
		&.active {
			display: block;
			height: auto;
			opacity: 1;
		}
		&:before {
			@include raleway(bold);
			content: open-quote;
			font-size: 100px;
			line-height: 0;
			display: block;
			margin: 40px auto;
			color: $dark;
		},
		&:after {
			content: no-close-quote;
		}
		p {
			@include raleway;
			font-style: italic;
			font-size: 18px;
			text-align: center;
			padding: 0 70px 0 40px;
			@include mq($max-width: $tablet-max) {
				padding: 0 30px;
			}
		}
		footer {
			 @include raleway(bold);
			 font-size: 18px;
			 text-align: center;
		}
	}
	.testimonial-nav {
		ul {
			list-style: none;
			text-align: center;
			margin: 0;
			padding: 0;
			li {
				cursor: pointer;
				display: inline-block;
				margin: 0 15px;
				padding: 15px 0;
				a {
					display: inline-block;;
					width: 45px;
					height: 3px;
					background: $gray;
					&.active {
						background: $green;
					}
				}
			}
		}
	}
}
