@import 'https://fonts.googleapis.com/css?family=Raleway:400,400i,700';

$raleway: 'Raleway', sans-serif;
.raleway {
	font-family: $raleway;
}

@mixin raleway($weight: normal) {
	font-family: $raleway;
	font-weight: $weight;
}

$bree: "bree-serif", serif;

.bree-serif {
	font-family: "bree-serif";
}


@mixin bree($weight: 400) {
	// thin: 200
	// regular: 400
	// bold: 700
	@if($weight == 'thin') {
		$weight: 200;
	}
	@if($weight == 'regular') {
		$weight: 400;
	}
	@if($weight == 'bold') {
		$weight: 700;
	}
	font-family: $bree;
	font-weight: $weight;
}
