body {
	font-family: $raleway;
}

a {
	text-decoration: underline;
	&.btn {
		text-decoration: none;
	}
	p & {
		&[target="_blank"] {
			@include anchor-icon('new-window');
		}
		&[download] {
			@include anchor-icon('download');
		}
	}
}
